@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.navbar {
    margin-bottom: 0px;
    background-color: #FF7C16;
    height: 70px;
    text-align: end;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
}
.navbar li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar img {
    height: 50px;
    list-style-image: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0px;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.container {
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}
.jumbotron {
    padding-top: 50px;
    margin-top: 0px;
    background-image: url("./pic/batik.jpg");
    background-size: 100%;
    background-blend-mode: difference;
    height: 600px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}
.jumbotron img{
    height: 570px;
    width: 100%;
    background-color: #11C5C6;
    filter: brightness(50%);
}
button {
    background-color: #FF7C16;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    text-decoration: none;
}
.button:hover {
    background-color:white;
    color: #FF7C16;
}
.jenisBatik {
    display: flex;
}
.jenisBatik > div {
    background-color:inherit;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 100%;
    flex-flow: row wrap;
}
.jenisBatik div p {
    font-size: 15px;
}
.profit {
    display: flex;
}
.profit > div {
    background-color:inherit;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 100%;
    flex-flow: row wrap;
}
.profit div p {
    font-size: 15px;
}
.orange {
    background-color: #ff7c1b; 
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    height: 100px;
    padding-top: 2px;
}
.white{
    display: flex;
    background-color: white;
    margin-top: 100px;
}

.white > div{
    background-color: white;
    margin: 20px;
    padding: 10px;
    font-size: 10px;
    text-align: center;
}
.harga{
    color: #FF7C16;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    height: 100px;
    padding-top: 10px; 
}
.flex{
    display: flex;
    background-color: white;
    margin-top: 100px;
    align-content: center;

}
.card{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    font-family: 'quicksand', sans-serif;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    width: fit-content;
    margin-left: 25px;
    align-content: center;
    transition: 0.5s ease;
    cursor: pointer;
    width: 250px;
}
.card-stats{
    border-radius   : 20px;
    margin-top: 55px;
    height: 25px;
    margin-right: 50px;  
} 

.card-image img{
    margin-top: 50px;
    margin-right: 50px;
    width: 150px;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);

}
.card-text h1 {
    font-size: 25px;
    text-align: center;
    margin-right: 50px;
} 
.card-text p{
    font-size: 15px;
    text-align: center;
    margin-right: 50px;
    padding: 10px;
}
.hubungi{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    height: 100px;
    padding-top: 10px; 
}
    

.hubungi img{
    width: 30px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 0%;
}

.telfon{
    display: flex;
    margin-left: 250px; 
    padding-top: 150px;
    text-align: center;
    align-content: center;
}
.telfon > div p{
    background-color: #FF7C16;
    border-radius: 30px;
    color: white;
    align-self: center;
}
.telfon > div{
    margin-left: 150px;
}
.telfon img{
    width: 60px;  
}
.WA{
    background-image: url(../ArdaAr.github.io/pic/telfon.png);
    margin: 100px;
    padding: 100px;
}

footer{
    text-align: center;
    font-weight: bold;
    padding: 3px;
    background-color: #FF7C16;
    color: black;
}